openapi: 3.0.2
info:
  title: StarWars Platform API
  version: 1.0.0
  description: API para explorar dados de Star Wars usando SWAPI como fonte.

servers:
  - url: https://API_GATEWAY_HOST
    description: API Gateway (GCP)

paths:
  /health:
    get:
      operationId: health
      summary: Healthcheck da API
      responses:
            x-google-backend:
            address: https://YOUR_FUNCTION_URL
            path_translation: APPEND_PATH_TO_ADDRESS

            "200":
            description: OK
      

  /v1/films:
    get:
      operationId: listFilms
      summary: Lista filmes com busca e ordenação
      parameters:
        - in: query
          name: search
          schema:
            type: string
          description: Texto para busca (ex.: "hope")
        - in: query
          name: sort
          schema:
            type: string
            enum: [title, release_date]
          description: Campo para ordenação
        - in: query
          name: order
          schema:
            type: string
            enum: [asc, desc]
          description: Direção da ordenação
      responses:
        "200":
          description: Lista de filmes

      x-google-backend:
        address: https://YOUR_FUNCTION_URL
        path_translation: APPEND_PATH_TO_ADDRESS

  /v1/films/{film_id}/characters:
    get:
      operationId: filmCharacters
      summary: Lista personagens de um filme específico (correlação)
      parameters:
        - in: path
          name: film_id
          required: true
          schema:
            type: string
          description: ID do filme na SWAPI (ex.: 1)
      responses:
        "200":
          description: Personagens do filme

      x-google-backend:
        address: https://YOUR_FUNCTION_URL
        path_translation: APPEND_PATH_TO_ADDRESS
